<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Impresora" value="4BARCODE" />
    <!--Nombre de impresora-->
    <add key="FilePrint" value="label.zpl" />
    <!--Archivo de impresión de la aplicación (se genera automatico, se puede editar abriendo el archivo luego de generado)-->
    <add key="FilePrintBarra" value="label_barra.zpl" />
    <add key="FilePrintBarraCardProduct" value="label_barra_largo.zpl" />
    <add key="Server" value="http://172.19.0.14:8080/" />
    <!--Ip del servidor de tienda http://localhost:51509/ -->
    <add key="ServerOfertas" value="http://172.19.0.14:8304/" />
    <!--Ip para ofertas -->
    <add key="login" value="http://172.19.0.14:8302/" />
    <add key="Departamento" value="00" />
    <!--Area o departamento del hablador 00: Todos, 05: Farmacia-->
    <add key="Suc" value="0108" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>